:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-gray: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-family: 'Overpass', sans-serif;
    background-color: var(--very-dark-blue);
    min-height: 100vh;
}


/*
    =========================== MOBILE FIRST DESIGN ===========================
*/

#card-container {
    max-width: 32.7rem;
    background: radial-gradient(98.96% 98.96% at 50% 0%, hsla(215, 20%, 17%, 1), hsla(215, 24%, 12%, 1));
    color: var(--white);
    border-radius: 3rem;
}





/*
    ============= RATING STATE STYLING =============
*/

#rating-state {
    display: none;
    padding: 2.4rem 2.4rem 3.2rem 2.4rem;
}

.icon-star {
    background-color: var(--dark-blue);
    padding: 1.6rem;
    border-radius: 50%;
}

.header {
    font-size: 2.4rem;
    margin: 1.6rem 0 1rem 0;
}

.text {
    color: var(--light-grey);
    line-height: 2.2rem;
    width: 27.9rem;
    margin-bottom: 2.4rem;
    font-size: 1.4rem;
}

.form__btns {
    display: flex;
    margin-bottom: 2.4rem;
    width: 27.9rem;
    justify-content: space-between;
}

.btn {
    border-radius: 50%;
    border: none;
    font-size: 1.4rem;
    width: 4.2rem;
    height: 4.2rem;
    background-color: var(--dark-blue);
    color: var(--medium-gray);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--orange);
    color: var(--white);
    transition: all .2s ease-in;
}

.btn.active {
    background-color: var(--light-grey);
    color: var(--white);
}

.form__submit-btn {
    display: block;
    margin: 0 auto;
    border-radius: 2.2rem;
    border: none;
    padding: 1.2rem 10.8rem;
    color: var(--white);
    background-color: var(--orange);
    letter-spacing: 1.8px;
    text-transform: uppercase;
    font-size: 1.4rem;
    cursor: pointer;
}

.form__submit-btn:active {
    color: var(--orange);
    background-color: var(--white);
    transition: all .1s ease;
}



/*
    ============= THANK YOU STATE STYLING =============
*/
#thanks-state {
    padding: 3.4rem 2.4rem 3.7rem 2.4rem;
    text-align: center;
}

.ty-img {
    margin-bottom: 2.4rem;
}

.selection-result {
    padding: .5rem 1.2rem;
    background-color: var(--dark-blue);
    width: 16.8rem;
    margin: auto;
    font-size: 1.4rem;
    color: var(--orange);
    border-radius: 2.25rem;
    margin-bottom: 2.4rem;
    line-height: 2.2rem;
}

.ty-header {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 1rem;
}

.ty-content {
    color: var(--medium-gray);
    font-size: 1.4rem;
    line-height: 2.2rem;
}





/*
    =============== FOOTER ================
*/

footer {
    font-size: 11px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 1rem;
}

footer a {
    color: hsl(228, 45%, 44%);
}